<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="aai.aai_mobile">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AAIMaterialTheme">
        <activity
            android:name=".aaiHomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoadEdit"
            android:label="Add New Job" >
        </activity>
        <activity
            android:name=".resume"
            android:label="Resume Job" >
        </activity>

        <Fragment
            android:name=".addAHU"
            android:label="Add Air Handler">

        </Fragment>
        <activity
            android:name=".ui.addGrill"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Add Grill">
        </activity>

        <fragment
            android:name=".editCfm"
            android:label="Edit CFM"></fragment>
        <fragment
            android:name=".editNamePlate"
            android:label="Edit Nameplate"></fragment>
        <activity
            android:name=".ui.editComments"
            android:label="Edit Comments">
        </activity>
        <activity
            android:name=".ui.editNotes"
            android:label="Edit Notes"></activity>
        <activity
            android:name=".preEngineering"
            android:label="Pre-Engineering">

        </activity>
    </application>

</manifest>
